<li>
    <article class="snippet">
      <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="snippet__image">
     <h3 class=""snippet__title"><a href="{{post.url}}"></a>{{ post.data.title }}</h3>
     <p class=""snippert__meta"> By <span>{{post.data.author}}</span> on <span>{{post.date | postDate}}</span></p>
     <p class=""snippert__body"> {{post.data.description}}</p>
     <a href="{{post.url}}" class="btn btn--primary">Continue Reading</a>

    </article>
  </li>